input, textarea {
	margin-bottom: 1em !important;
}

.site-tab span p {
	font-size: .8571528571rem;
	line-height: 1.50001rem;
	line-height: 1.1250075rem;
	font-weight: 400;
	color: #969595 !important;
	display: inline-block;
}

button, input:not([type="radio"]):not([type="checkbox"]), option, select:not([multiple]) {
	height: 100% !important;
}

.swiper-container-jumbotron {
	overflow-x: hidden;
}